:root {
    --bg-light: #F8F9FA;
    --text-light: #333;
    --button-light: #007BFF;
    --highlight-light: #FFC107;

    --bg-dark: #1E1E1E;
    --text-dark: #EAEAEA;
    --button-dark: #00C8FF;
    --highlight-dark: #FF8C00;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-light);
    margin: 0;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.container {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 21em 1fr;
    gap: 1rem;
    align-items: start;
}

.filter-section { 
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.5rem;
    min-width: 21em;
    max-width: 21em;
    margin-left: auto;
    margin-right: auto;
}

.filter-section label {
    text-align: left;
}

.filter-section h4 {
    padding: 0;
    margin: 0;
    text-align: left;
}

input[type="number"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

button {
    background-color: var(--button-light);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    grid-column: 1 / 4;
}

button:hover {
    background-color: var(--highlight-light);
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;    
}

.dark-mode-toggle {
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--button-light);
}

.dark-mode-toggle:hover {
    color: var(--highlight-light);
}

/* Preview */
.word-list {
    border-collapse: collapse;
    border-radius: 5px;
}

.word-list th, .word-list td {
    padding: 0.2rem;
    border: 1px solid #ccc;
}

.word-list th {    
    font-weight: bold;
    color: var(--text-light);
}

.filter-section #sizeWarning {
    grid-column: 1 / 4; 
    margin-top: 0; 
    font-style: italic;
}

body.dark-mode .word-list th {    
    color: var(--text-dark);
}

span.icon {
    font-style: normal !important;
}

table.word-list tbody:empty::before {
    content: "No words available";
    display: block;
    text-align: center;
    padding: 10px;
    color: #666;
    font-style: italic;
}

@media (max-width: 55em) {
    .container {
        grid-template-columns: 1fr;
    }
}
